img#video1 {
    width: 320px;
    height: auto;
    /*width: auto;
    height: 240px;*/
}
img#video2 {
    width: 320px;
    height: auto;
    /*width: auto;
    height: 240px;*/
}
img#video3 {
    width: 320px;
    height: auto;
    /*width: auto;
    height: 240px;*/
}